* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
    display: grid;
    background-image: url(Imagenes/cancha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.padre {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
    background: linear-gradient(rgb(241, 23, 23), rgb(2, 10, 131));
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}


.encabezado {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.logo1 img {
    margin: 1vh;
    width: 7.5vw;
    height: 16vh;
}

.logo2 img {
    margin: 1vh;
    width: 7.5vw;
    height: 16vh;
}


.nombre {
    margin: 1vh;
    width: 50vw;
    height: 16vh;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.nombre>h1 {
    color: rgb(255, 5, 5);
    text-align: center;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4vw;
}

.nombre>h2 {
    color: rgb(246, 250, 6);
    text-align: center;
    vertical-align: middle;
    font-style: italic;
    font-size: 1vw;
}

.barra {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}

.barra li>a {
    margin-top: .5vh;
    margin-bottom: .5vh;
    color: rgb(255, 5, 5);
    font-style: italic;
    font-size: large;
    font-weight: 600;
}

.descripcion {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 1vw 1vw 1vw 4vw;
    padding: 1vw;
}

#menu {
    display: none;
}

.subtitulo {
    text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 0.5em rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
}

.historia {
    margin: 1vw;
    padding: 1vw;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 2em black, 0 0 1em rgb(0, 0, 0);
    text-align: justify;
    font-style: italic;
    font-size: 150%;
    font-weight: 700;
}

.video {
    margin: 2vw;
    margin-right: 5vw;
    padding: 1vw;
    background-color: rgb(218, 219, 219);
}

.video>iframe {
    width: 25vw;
    height: 60vh;
}

.pie {
    display: inline-table;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin: 0%;
    padding: .5vw;
    width: 100%;
    height: auto;
    background: linear-gradient(rgb(150, 148, 148), rgb(7, 7, 7))
}

.redes {
    width: 45vw;
    margin: .2em;
    display: inline-table;
    flex-wrap: wrap;
}

.redes h2 {
    margin: .3em;
    padding: .3em;
    color: rgb(186, 231, 219);
    vertical-align: middle;
    text-align: justify;
}

.redes a {
    margin: .3em;
    padding: .3em;
    color: rgb(247, 207, 160);
    font-size: .8rem;
    vertical-align: middle;
    text-align: justify;
}

.redes a>img {
    width: 5%;
}

.sponsor {
    width: 45vw;
    margin: .2em;
    display: inline-table;
    flex-wrap: wrap;
}

.sponsor h2 {
    margin: .3em;
    padding: .3em;
    color: rgb(186, 231, 219);
    vertical-align: middle;
    text-align: justify;
}

.sponsor a {
    margin: .3em;
    padding: .3em;
    color: rgb(247, 207, 160);
    font-size: .8rem;
    vertical-align: middle;
    text-align: justify;
}

.sponsor a>img {
    width: 8%;
    height: 20%;
    border-radius: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {

    .logo1 img {
        margin: .8vh;
        width: 10vw;
        height: 15vh;
    }

    .logo2 img {
        margin: .8vh;
        width: 10vw;
        height: 15vh;
    }

    .nombre {
        margin: .8vh;
        height: 12vh;
    }

    .nombre>h1 {
        font-size: 4vw;
    }

    .nombre>h2 {
        font-size: 1vw;
    }

    .barra li>a {
        margin-top: .3vh;
        margin-bottom: .3vh;
        font-size: small;
        font-weight: 400;
    }

    .redes h2 {
        font-size: small;
    }

    .redes a {
        font-size: .6rem;
    }

    .sponsor h2 {
        font-size: small;
    }

    .sponsor a {
        font-size: .6rem;
    }
}

.formulario {
    display: block;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
}

@media only screen and (min-width: 501px) and (max-width: 768px) {

    .logo1 img {
        margin: .8vh;
        width: 10vw;
        height: 15vh;
    }

    .logo2 img {
        margin: .8vh;
        width: 10vw;
        height: 15vh;
    }

    .nombre {
        margin-top: 1.5vh;
        height: 12vh;
    }

    .nombre>h1 {
        font-size: 4vw;
    }

    .nombre>h2 {
        font-size: 1vw;
    }

    .barra li>a {
        margin-top: .3vh;
        margin-bottom: .3vh;
        font-size: small;
        font-weight: 400;
    }

    .descripcion {
        grid-template-columns: 2fr 1fr;
    }

    .subtitulo {
        width: 90%;
        font-weight: 700;
        font-size: 150%;
    }

    .historia {
        width: 90%;
        height: auto;
        font-size: 100%;
        font-weight: 600;
    }

    .video {
        width: 90%;
    }

    .video>iframe {
        width: 100%;
        height: auto;
    }

    .redes h2 {
        font-size: small;
    }

    .redes a {
        font-size: .6rem;
    }

    .sponsor h2 {
        font-size: small;
    }

    .sponsor a {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url(Imagenes/cancha2.jpg);
    }

    .padre {
        height: 5em;
    }

    .logo1 img {
        margin: .7vh;
        width: 10vw;
        height: 7vh;
    }

    .logo2 img {
        display: none;
        margin: 1vh;
        width: 10vw;
        height: 6vh;
    }

    .nombre {
        margin-top: 1.5vh;
        height: 7vh;
    }

    .nombre>h1 {
        font-size: 7vw;
    }

    .nombre>h2 {
        font-size: 2vw;
    }

    nav {
        display: none;
    }

    nav.visible {
        display: block;
    }

    #menu {
        display: flex;
        width: 7vw;
        height: 4vh;
        position: absolute;
        right: 1.5em;
        top: 2.5em;
        z-index: 999;
    }

    #menu-abrir img {
        width: 10vw;
        height: 7vh;
        margin-top: -30%;
        margin-left: -25%;
        
    }

    #menu-cerrar {
        display: none;
    }

    #menu.salir #menu-abrir {
        display: none;
    }

    #menu.salir #menu-cerrar {
        display: block;
    }

    body.no-scroll {
        overflow: hidden;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        padding-top: .5em;
        padding-right: 1.5em;
        opacity: .9;
        color: beige;
        font-size: 1.4em;
        z-index: 45;
    }

    .barra,
    .barra li {
        display: block;
        margin-left: 1.5em;
        text-align: left;
        font-weight: 900;
    }

    .descripcion {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }

    .subtitulo {
        width: 90%;
        font-weight: 700;
        font-size: 150%;
    }

    .historia {
        width: 90%;
        height: auto;
        font-size: 100%;
        font-weight: 600;
    }

    .video {
        width: 90%;
    }

    .video>iframe {
        width: 100%;
        height: auto;
    }

    .redes {
        width: 90%;
    }

    .redes h2 {
        font-size: small;
    }

    .redes a {
        font-size: .6rem;
    }

    .sponsor {
        width: 90%;
        margin-bottom: .3rem;
    }

    .sponsor h2 {
        font-size: small;
    }

    .sponsor a {
        font-size: .6rem;
    }
}