* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-image: url(Imagenes/entrada4.png);
    background-size:cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 10px;
    padding: 5px;
    width: auto;
    height: 20vh;
    background-color: rgb(236, 236, 245);
    display: inline-flexbox;
}

#logo .logo1 {
    box-sizing: content-box;
    margin: 1vh 3vw;
    background-color: rgb(236, 236, 245);
    padding: 1vh;
    width: 7vw;
    height: 15vh;
    position:relative;

}

#logo .logo2 {
    box-sizing: content-box;
    margin: 1vh 3vw;
    background-color: rgb(236, 236, 245);
    padding: 1vh;
    width: 7vw;
    height: 15vh;
    position:relative;
    float: right;
}

#nombre {
    box-sizing: content-box;
    margin: 1vh;
    background-color: rgb(236, 236, 245);
    padding: 1vh;
    width: 90vw;
    height: 15vh;
    position: absolute;
}

#nombre h1 {
    text-align:center;
    vertical-align: middle;
    font-size: 3em; 
    width: 90vw;
    height: 10vh;
    font-style: italic;
    color: rgb(233, 31, 31);
}

#nombre h2 {
    text-align:center;
    vertical-align: middle;
    font-size: 1em;
    width: 90vw;
    height: 3vh;
    font-style: italic;
    color: rgb(7, 13, 100);
}

nav {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    list-style: none;
}

.Inicio {
    display: inline-block;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vh 2vw;
    background-color: rgb(16, 13, 167);
    text-decoration: none;
    border-radius: .5em;
    border-style: solid;
    border-width: .15em;
    border-color: gold;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(245, 24, 24);
    font-size: large;
    font-weight:600;
    
}

section {
    margin: 1vw 1vw 1vw 4vw;
    padding: 1vw;
    display:flexbox;
    width:50%;
    height: auto;
    float: left;
    box-sizing: content-box;
    position:relative;
}

#Subtitulo {
    display:contents;
    position:relative;
    width: 40%;
    height: auto;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 200%;
}

#Historia{
    display: contents;
    position: relative;
    margin: 1vw;
    padding: 1vw;
    width: 50%;
    height: auto;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 150%;
    font-weight: 800;
}

aside {
    margin: 2vw;
    margin-right: 5vw;
    padding: 1vw;
    
    height: auto;
    background-color: rgb(218, 219, 219);
    float: right;
    box-sizing: content-box;
    position: relative;
}

footer {
    margin: 0%;
    padding: .5vw;
    width: auto;
    background-color: rgb(85, 83, 83);
    margin-top: auto;
}

.Redes{
    display: flexbox;
    position: absolute;
    margin-top: .3em;
    margin-left: 1.5em;
    float: left;
    width: 46%;
}
.Redes h2{
    margin: .3em;
    padding: .3em;
    display:inline-table;
    justify-content: space-around;
    color: rgb(205, 205, 238);
    vertical-align: middle;
    text-align:justify;
}

.Redes a{
    margin: .3em;
    padding: .3em;
    display:inline-table;
    justify-content: space-around;
    color: rgb(244, 244, 247);
    vertical-align: middle;
    text-align:center;
}

.Sponsor{
    display: flexbox;
    position:relative;
    margin-top: .3em;
    margin-right: 1em;
    float: right;
    width: 50%;
}

.Sponsor h2{
    margin: .3em;
    padding: .3em;
    display:inline-table;
    justify-content: space-around;
    color: rgb(205, 205, 238);
    vertical-align: middle;
    text-align:justify;
}

.Sponsor a{
    margin: .3em;
    padding: .3em;
    display:inline-table;
    justify-content: space-around;
    color: rgb(244, 244, 247);
    vertical-align: middle;
    text-align:center;
}

#Central h2{
    margin-top: 2vw;
    margin-left: 2.vw;
    padding: .2vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align:center;
    color: white;
}

#Central iframe{
    display:flex;
    position: relative;
    width:40vw; 
    height:40vh;
    margin-left: 30vw;
    padding: .5vw;
    box-sizing: content-box;
}

#Anexo h2{
    margin-top: 2vw;
    margin-left: 2.vw;
    padding: .2px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align:center;
    color: white;
}

#Anexo iframe{
    display:flex;
    position: relative;
    width:40vw; 
    height:40vh;
    margin-left: 30vw;
    margin-bottom: 2vw;
    padding: .5vw;
    box-sizing: content-box;
}
