* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Fondo{
    position: relative;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(Imagenes/entrada4.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

header {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    height: 120px;
    background-color: rgb(236, 236, 245);
    display: inline-flexbox;
}

#logo .logo1 {
    box-sizing: content-box;
    margin: 5px 30px;
    background-color: rgb(236, 236, 245);
    padding: 10px;
    width: 90px;
    height: 90px;
    position:relative;

}

#logo .logo2 {
    box-sizing: content-box;
    margin: 5px 30px;
    background-color: rgb(236, 236, 245);
    padding: 10px;
    width: 90px;
    height: 90px;
    position:relative;
    float: right;
}

#nombre {
    box-sizing: content-box;
    margin: 5px 10px;
    background-color: rgb(236, 236, 245);
    padding: 10px;
    width: 90%;
    height: 70px;
    position: absolute;
}

#nombre h1 {
    text-align:center;
    vertical-align: middle;
    font-size: 300%;
    font-style: italic;
    color: rgb(233, 31, 31);
}

#nombre h2 {
    text-align:center;
    vertical-align: middle;
    font-size: 100%;
    font-style: italic;
    color: rgb(7, 13, 100);
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.Inicio {
    display: inline-block;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 20px;
    background-color: rgb(16, 13, 167);
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    font-style: italic;
    color: rgb(245, 24, 24);
    font-size: large;
    font-weight: 600;
    
}

section {
    margin: 3px 10px 3px 3px;
    padding: 10px;
    display: flex;
    width: 950px;
    height: auto;
    float: left;
    box-sizing: content-box;
    position: relative;
}

#Subtitulo {
    display: inline;
    position:relative;
    width: 400px;
    height: auto;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 200%;
}

#Historia{
    display: inline;
    position: relative;
    z-index: auto;
    margin: 3px 10px 3px 3px;
    padding: 10px;
    width: 800px;
    height: auto;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 150%;
    font-weight: 800;
}

aside {
    margin: 3px 15px 3px 3px;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: rgb(218, 219, 219);
    float: right;
    box-sizing: content-box;
    -webkit-box-sizing: 25%;
}

footer {
    padding: 1px;
    width: 100%;
    background-color: rgb(85, 83, 83);
    margin-top: auto;
}

.Redes{
    margin-top: 5px;
    margin-left: 3%;
    float: left;
    width: 50%;
}
.Redes h2{
    margin: 10px;
    padding: 5px;
    display:inline-table;
    justify-content: space-around;
    color: rgb(205, 205, 238);
    vertical-align: middle;
    text-align:justify;
}

.Redes a{
    margin: 5px;
    padding: 5px;
    display:inline-table;
    justify-content: space-around;
    color: rgb(244, 244, 247);
    vertical-align: middle;
    text-align:center;
}

.Sponsor{
    margin-top: 5px;
    float: right;
    width: 47%;
}

.Sponsor h2{
    margin: 10px;
    padding: 5px;
    display:inline-table;
    justify-content: space-around;
    color: rgb(205, 205, 238);
    vertical-align: middle;
    text-align:justify;
}

.Sponsor a{
    margin: 5px;
    padding: 5px;
    display:inline-table;
    justify-content: space-around;
    color: rgb(244, 244, 247);
    vertical-align: middle;
    text-align:center;
}

#Central h2{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align:center;
    color: white;
}

#Central iframe{
    margin-left: 430px;
    padding: 10px;
    box-sizing: content-box;
}

#Anexo h2{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    text-align:center;
    color: white;
}

#Anexo iframe{
    margin-left: 430px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: content-box;
}

