.barra2{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container >button{
    background-color: rgb(241, 241, 170);
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    font-weight: 900;
    width: 10vw;
    border-radius: .5em;
}

.plantel h2 {
    padding: 1vw 0;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em rgb(252, 2, 2);
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 250%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    width: 95%;
    margin: auto;
    gap: 1vw;
    padding: 2vh 0;
    overflow: hidden;
}

.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 2);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.fixture {
    display: grid;
    grid-template: auto / 40% 40%;
    grid-template-areas: "ida vuelta";
    gap: 5px;
    width: 95vw;
    margin: 2vw;
    justify-content: space-around;
    align-content:center;
}

.ida {
    grid-area: ida;
    text-align: center;
    display:flex;
    justify-content: center;
}

.vuelta {
    grid-area: vuelta;
    text-align: center;
    display:flex;
    justify-content: center;
}

.ida h2{
    text-align: center;
    display: flex;
    justify-content: center;
}
table{
	background-color: white;
	text-align:center;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: .5vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

th{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
    font-size: large;
}

tr:nth-child(even){
	background-color: #d3d2d2;
}

tr:hover td{
	background-color: #7c7e7d;
	color: white;
}
td img{
    width: 1.3vw;
    height: auto;
    margin:0 1.5vw;
}

@media only screen and (max-width: 500px) {

    .barra2{
        margin-top: 2vh;
    }

    .container{
        height: 5vh;
    }

    .container >button{
        width: 30vw;
        font-weight: 500;
    }

    .plantel h2 {
        font-weight: 900;
        font-size: 150%;
    }

    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .fixture{
        display: block;
    }

    td img{
        width: 4vw;
    }
}